#templates {
	display: none;
}

.charity-content {
	margin: 5%;
}
.salutation {
	padding: 5%;
	background-color: rgb(200, 200, 200);
}

.difference-button {
	background-color: rgb(38,38,38);
	color: rgb(255, 255, 255);
	font-family: Barlow, -apple-system, Roboto, sans-serif;
	width: 400px;
	padding-bottom: 12px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 11px;
}

.logo {
	max-height: 3.5em;
	max-width: 90%;
}